{
  "name": "acf/{{blockSlugTrim}}",
  "title": "{{blockTitle}}",
  "description": "{{blockDescription}}",
  "style": [ "file:./{{blockSlug}}.css" ],
  "script": [ "file:./{{blockSlug}}.js" ],
  "editorScript": ["file:./{{blockSlug}}-admin.js"],
  "editorStyle": [ "file:./{{blockSlug}}-admin.css" ],
  "category": "{{blockCategory}}",
  "icon": "{{blockIcon}}",
  "keywords": ["{{blockSlug}}"],
  "acf": {
    "mode": "edit",
    "renderTemplate": "{{blockSlug}}.php"
  },
  "align": "full"
}