-
    const classes = ['class-1', 'class-2', 'class-3']
    const styles = {'color' : 'red', 'background' : '#ccc'}
    const imageAttributes = {'src' : '#', 'alt' : 'Site Name'}
.attributes
    input(type="password", name="pass", data-js=`$( 1 > 2 ? "OK" : "NOT OK!")`)
    div(class=classes) TEST
    div(style=styles) TEST!
    div.img-attributes-example
        img&attributes(imageAttributes)