// Simlple Loop

-
    const loop = ['Item 1', 'Item 2', 'Item 3'];
    const object = {"Wordpress" : 99, "HTML" : 99, "CSS" : 99}
ul
    each li in loop
        li= li

// Loop with indexed
ul
    each n, i in loop
        li(data-index=i)= n

// Loop with objects
ul
    each key, value in object
        li
            span= value + " - "
            span= key


// Loop with empty element
ul
    li
        for n in []
            li= n
        else
            strong "No Elements"