mixin comment(commentData)
    .comment
        if(commentData.adminSay)
            em (Posted bu Admin)
        .data= commentData.date
        .author= commentData.author
        .text= commentData.text