// Mixines
include ../elements/radio-input
include ../elements/h1

section.contact-form
    div(class="container col-xl-10 col-xxl-8 px-4 py-5")
        +h1('Contact US')
        form
            div(class="row mb-3")
                label(for="inputEmail3" class="col-sm-2 col-form-label") Email
                div(class="col-sm-10")
                    input(type="email" class="form-control" id="inputEmail3")

            div(class="row mb-3")
                label(for="inputName3" class="col-sm-2 col-form-label") Name
                div(class="col-sm-10")
                    input(type="text" class="form-control" id="inputName3")

            fieldset(class="row mb-3")
                legend(class="col-form-label col-sm-2 pt-0") Radios
                div(class="col-sm-10")
                    +radio-input('First radio', 'gridRadios', 'option1', 'checked')
                    +radio-input('First radio', 'gridRadios', 'option2', '')
                    +radio-input('First radio', 'gridRadios', 'option2', '')
