// Mixines
include ../elements/h1

// Attributes
-
    const imageAttributes = {
        'src' : '../assets/img/bootstrap-themes.png',
        'alt' : 'Bootstrap Themes',
    }

section.hero-section
    div(class="container col-xl-10 col-xxl-8 px-4 py-5")
        div(class="row flex-lg-row-reverse align-items-center g-5 py-5")
            div(class="col-10 col-sm-8 col-lg-6")
                img&attributes(imageAttributes)
            div(class="col-lg-6")
                +h1('Vertically centered hero sign-up form', 'display-5 fw-bold lh-1 mb-3')
                p(class="lead") Below is an example form built entirely with Bootstrap’s form controls. Each required form group has a validation state that can be triggered by attempting to submit the form without completing it.