-
    const nav_menu = {
        'index.html' : 'Home',
        'features.html' : 'Features',
        'pricing.html' : 'Pricing',
        'faq.html' : 'FAQs',
        'about.html' : 'About'
    };

ul(class="nav nav-pills")
        each title, link in nav_menu
            li(class="nav-item")
                a(class="nav-link" href= link)= title