include examples/mixines
doctype html
html
    head
        include includes/styles
        include includes/libs
    body
        main
            include parts/header
            .content
                include blocks/hero
                include blocks/contact-form
                //.attributes
                //    include examples/attributes
                //.loops
                //    include examples/Loops

    include includes/scripts