mixin radio-input(title, name, value, checked)
    -
        var checked = (!checked) ? '' : 'checked';
        var attributes = {
            'class' : 'form-check-input',
            'type' : 'radio',
            'name' : name,
            'value' : value,
            'checked' : checked,
        }
    div(class="form-check mixin")
        input&attributes(attributes)
        label(class="form-check-label" for= name)= title
