-
    const my_scripts = [
        'main'
    ];

    const blocks_scripts = [
        'contact-form',
        'hero'
    ];

each script in my_scripts
    script(src='../assets/js/' + script + '.js')

each block in blocks_scripts
    script(src='../assets/js/blocks/' + block + '/' + block + '.js')
