-
    const my_styles = ['libs.min', 'main'];
    const blocks = [
        'contact-form',
        'hero',
    ];

each style in my_styles
        link(rel = "stylesheet", href = "../assets/css/" + style + ".css")

each block in blocks
            link(rel="stylesheet", href="../assets/css/blocks/" + block + ".css")